<?xml version="1.0" encoding="utf-8"?>
<tools grouporder="热门推荐">
        <tool>
                <parentID>-1</parentID>
                <ID>1</ID>
                <text>技术交流，就是这么任性！</text>
                <tooltip>你是怎么想的！</tooltip>
                <toolicon>run.png</toolicon>
        </tool>
 	<tool>
                <parentID>1</parentID>
                <ID>10</ID>
                <text>简单</text>
                <tooltip>简简单单才是真！</tooltip>
                <toolicon>home.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>100</ID>
                <text>风云</text>
                <tooltip>天边一朵云！</tooltip>
                <toolicon>home2.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>110</ID>
                <text>分享</text>
                <tooltip>等风来！</tooltip>
                <toolicon>icon.png</toolicon>
        </tool>
	<tool>
                <parentID>1</parentID>
                <ID>20</ID>
                <text>腾讯</text>
                <tooltip>技术交流、技术分享</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
	<tool>
                <parentID>20</parentID>
                <ID>200</ID>
                <text>阿里</text>
                <tooltip>https://github.com/mkinsz/qmodule</tooltip>
                <toolicon>icon.ico</toolicon>
        </tool>
        <tool>
                <parentID>20</parentID>
                <ID>210</ID>
                <text>百度</text>
                <tooltip>https://github.com/mkinsz/qmodule</tooltip>
                <toolicon>stone.ico</toolicon>
        </tool>
	<tool>
                <parentID>1</parentID>
                <ID>30</ID>
                <text>看到这么好的资料，我都醉了！</text>
                <tooltip>技术分享，火热进行中...</tooltip>
                <toolicon>run.png</toolicon>
        </tool>
	<tool>
                <parentID>30</parentID>
                <ID>300</ID>
                <text>醉了就好好学习吧！</text>
                <tooltip>技术分享，火热进行中...</tooltip>
                <toolicon>icon.png</toolicon>
        </tool>
        <tool>
                <parentID>300</parentID>
                <ID>3000</ID>
                <text>学了就会了！</text>
                <tooltip>技术分享，火热进行中...！</tooltip>
                <toolicon>icon.png</toolicon>
        </tool>
        <tool>
                <parentID>3000</parentID>
                <ID>30000</ID>
                <text>相信自己，就这么简单！</text>
                <tooltip>技术分享，火热进行中...</tooltip>
                <toolicon>run.png</toolicon>
        </tool>
</tools>
