*{font-family: "Microsoft YaHei"; font-size: 15px; color: #222222; outline:0px;}

QMenu {
    background-color: #EEEEEE;
    margin: 2px;
}

QMenu::item {
    height: 23px;
    padding: 0px 25px 0px 20px;
    background: #EEEEEE;
}

QMenu::item:selected {
    background-color: #DCDCDC;
}

QMenu::icon:checked {
    background: #DCDCDC;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
 }

QMenu::item:disabled
{
    background-color: lightgray;
    border: 1px inset gray;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 13px;
    height: 13px;
}

QComboBox{
    background-color: rgb(0, 0, 64);
}

QComboBox:on{
    background-color: rgb(0, 0, 64);
}

QComboBox::drop-down :on{
    background-color: rgb(0, 0, 64);
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
}

QComboBox QAbstractItemView {
    border: none;
    background-color:rgb(47, 54, 65);
}


QComboBox QAbstractItemView::item{
    height: 40px;
}

QComboBox QAbstractItemView::item:selected{
    background-color: rgb(0, 82, 112);
}

QComboBox QAbstractItemView::item:hover{
    background-color: rgb(0, 82, 112);
}

QComboBox:disabled{
    background-color: gray;
}

QStatusBar {
    background-color: rgb(0, 211, 197);
    border-top: 1px solid rgb(0, 82, 112);
}

QStatusBar QLabel{
    background-color: transparent;
}

QSizeGrip {

    width: 16px;
    height: 16px;
}

QSplitter{
    border:none;
}

QSplitter::handle {
    background-color: rgb(0, 211, 197);
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}

QSplitter::handle:pressed {
    background-color: rgb(0, 82, 112);
}


QHeaderView::section:checked {
    background-color: #112233;
 }

QHeaderView::section:checked {
    background-color: white;
}

QHeaderView{
    background-color: rgb(0, 82, 112);
}

QHeaderView::section {
    background-color: rgb(0, 82, 112);
    border: none;
    font-size: 16px;
    min-height: 25px;
    padding-left: 4px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

QScrollBar:vertical {
    width: 10px;
    margin: 0px 0px 0px 0px;
    background: white;
}
QScrollBar::handle:vertical {
    background: rgb(70, 97, 102);
    min-height: 1px;
}

QScrollBar::add-line:vertical {
    height: 1px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 1px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    background: white;
    height: 10px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: rgb(70, 97, 102);
    min-width: 1px;
}

QScrollBar::add-line:horizontal {
    width: 1px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 1px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QPushButton{
    background-color: rgb(43, 65, 77);
    border: none;
}

QPushButton:pressed{
    background-color: rgb(50, 77, 92);
}

QPushButton:disabled{
    background-color: gray;
}

QLabel{
    background-color: transparent;
    qproperty-alignment: AlignCenter;
}

QGroupBox {
    background-color: rgba(0, 211, 197, 255);
    border: rgba(0, 82, 112, 255);
    margin-top: 5px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    font-weight:  bold;
}

QToolButton{
    background-color: transparent;
}

QToolButton:hover{
    background-color: rgba(0, 82, 112, 255);
    border: 1px;
}

QToolButton:disabled{
    background-color: gray;
    border: 1px;
}

QToolButton[popupMode="1"] {
    padding-right: 0px;
}

QToolButton::menu-button {
    border: none;
}

QToolButton::menu-arrow {
    image: none;
}

QToolButton::menu-indicator {
    image: none;
}

QToolButton:open {
    background-color: rgb(0, 82, 112);
}

QDialog{
    background-color: rgba(0, 82, 112, 255)
}

QDialog QFrame#TitleBar{
    background-color: transparent;
}

QDialog QLabel{
    padding-left: 5px;
}

QDialog QLineEdit {
    padding: 1px;
    border-style: solid;
    border: 2px solid lightgray;
    border-radius: 8px;
    width:40px;
    height: 30px;
}

QDialog QToolButton{
    background-color: transparent;
}


QDialog QToolButton:hover{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(0, 82, 112, 255), stop:0.5 rgba(0, 211, 197, 255), stop:1 rgba(0, 82, 112, 255));
    border: 1px;
}

QDialog QToolButton:disabled{
    background-color: gray;
    border: 1px;
}

QDialog QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
    padding-right: 0px; /* make way for the popup button */
}

QDialog QToolButton::menu-button {
    border: none;
}

QDialog QToolButton::menu-arrow {
    image: none;
}

QDialog QToolButton::menu-indicator {
    image: none;
}

QDialog QToolButton:open { /* when the button has its menu open */
    background-color: rgb(0, 82, 112);
}


QDialog QToolButton#close{
    background-color: transparent;
}


QDialog QToolButton#close:hover{
    background-color: red;
    border: 1px;
}

QDialog QToolButton#logo{
    background-color: transparent;
    border: 1px;
}


QDialog QToolButton#logo:hover{
    background-color: transparent;
    border: 1px;
}

QDialog QLabel#TFrame{
    height: 132;
    border-image: url(:/res/icon.png);
}

QDialog QTextEdit{
    background-color: transparent;
    border: none;
}

QDialog QTabWidget::pane { /* The tab widget frame */
    border-top: 1px solid rgb(0, 0, 64);
}

QDialog QTabBar::tab {
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 25px;
    width: 120px;
    background-color: rgba(0, 211, 197, 255);
}

QDialog QTabBar::tab:selected{
    background-color: rgb(0, 82, 112);
}

QDialog QTabBar::tab:hover {
    background-color: rgba(0, 82, 112, 255);
}
